
#recentTracksHeaderText{
    display: inline-block;
    margin-top: 15%;

    
   
}
#recentTracksTableDiv{
    animation: fadeIn linear 0.5s;
    -webkit-animation: fadeIn linear 0.5s;
    -moz-animation: fadeIn linear 0.5s;
    -o-animation: fadeIn linear 0.5s;
    -ms-animation: fadeIn linear 0.5s;
   
}
#content{
    color:#02020B;
    background-image: linear-gradient( 
170deg
 , #8ABAD3FF 20%, #BC70A4 50%);
}





@keyframes fadeIn {
0% {opacity:0;
transform: translateY(-4%);}
100% {opacity:1;
transform: translateY(0%);}
}

@-moz-keyframes fadeIn {
0% {opacity:0;
transform: translateY(-4%);}
100% {opacity:1;
transform: translateY(0%);}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;
transform: translateY(-4%);}
100% {opacity:1;
transform: translateY(0%);}
}

@-o-keyframes fadeIn {
0% {opacity:0;
transform: translateY(-4%);}
100% {opacity:1;
transform: translateY(0%);}
}

@-ms-keyframes fadeIn {
0% {opacity:0;
transform: translateY(-4%);}
100% {opacity:1;
transform: translateY(0%);}
}